{% extends 'layout/base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('formLieu') }}
{% endblock %}

{% block main %}
    <a href="{{ path('admin_lieux') }}"
       class="self-start block text-primary text-sm font-semibold py-2 hover:text-gray-400">
        ← Retour à la liste
    </a>
    <h1>Créer un nouveau lieu</h1>

    <input type="text" id="recherche-globale" placeholder="Rechercher un lieu (ex: ENI Rennes)..." autocomplete="off">
    <ul id="liste-suggestions-globale"></ul>

    {{ form_start(lieuForm) }}
    {{ form_row(lieuForm.nom) }}
    {{ form_row(lieuForm.rue) }}
    <section>
        {{ form_row(lieuForm.villeNom) }}
        {{ form_row(lieuForm.villeCodePostal) }}
    </section>

    {# Lat/lng masquées #}
    <div style="display:none;">
        {{ form_widget(lieuForm.latitude) }}
        {{ form_widget(lieuForm.longitude) }}
    </div>

    {#  Carte interactive  #}
    <div id="carte"
         class="h-[400px] w-full m-t-[1rem] mb-4"></div>

    <button type="submit">Enregistrer</button>
    {{ form_end(lieuForm) }}
{% endblock %}
