{% extends 'layout/base.html.twig' %}

{% block title %}Insert new Lieu{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('formLieu') }}
{% endblock %}

{% block main %}
    <h1>Créer un nouveau lieu</h1>

    {# Champ de recherche global #}
    <input type="text" id="recherche-globale" placeholder="Rechercher un lieu (ex: ENI Rennes)..." autocomplete="off">
    <ul id="liste-suggestions-globale"></ul>

    {{ form_start(lieuForm) }}
    {{ form_row(lieuForm.nom) }}
    {{ form_row(lieuForm.rue) }}
    <section>
        {{ form_row(lieuForm.latitude) }}
        {{ form_row(lieuForm.longitude) }}
    </section>

    {{ form_row(lieuForm.ville) }}

    <div id="nouvelle-ville" style="display:none; border-left: 3px solid #ccc; padding-left: 1rem; margin-top: 1rem;">
        <p><strong>Nouvelle ville</strong></p>
        <section>
            {{ form_row(lieuForm.nouvelleVille.nom) }}
            {{ form_row(lieuForm.nouvelleVille.codePostal) }}
        </section>
    </div>

    <button type="submit">Enregistrer</button>
    {{ form_end(lieuForm) }}
{% endblock %}
