{% extends 'layout/base.html.twig' %}

{% block title %}{{ lieu.nom }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('mapLieu') }}
{% endblock %}

{% block main %}
    <h1>Détail de {{ lieu.nom }}</h1>
    <p>Nom du lieu : {{ lieu.nom }}</p>
    <p>Localisation : {{ lieu.rue }} {{ lieu.ville.nom }} ({{ lieu.ville.codePostal }})</p>
    <p>Coordonnées GPS : {{ lieu.latitude }}, {{ lieu.longitude }}</p>
    <div id="carte"
         data-lat="{{ lieu.latitude }}"
         data-lng="{{ lieu.longitude }}"
         style="height: 400px; width: 100%;">
    </div>
    {# ACTIONS ADMIN #}
    {% if app.user and app.user.administrateur %}
        <hr>
        <section class="flex gap-3 justify-center">
            <a href="{{ path('lieu_update', { id: lieu.id }) }}" class="btn">Modifier</a>
            <form method="post" action="{{ path('lieu_delete', { id: lieu.id }) }}"
                  onsubmit="return confirm('Voulez-vous vraiment supprimer ce lieu ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_lieu_' ~ lieu.id) }}">
                <button type="submit" class="btn">Supprimer</button>
            </form>
        </section>
    {% endif %}

{% endblock %}
