{% extends 'layout/base.html.twig' %}

{% block title %}Gestion des Lieux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('mapModals') }}
    <script src="{{ asset('js/openModal.js') }}" defer></script>
{% endblock %}

{% block main %}
    <h1>Liste des lieux</h1>
    <a class="btn" href="{{ path('lieu_create') }}">Proposer un lieu</a>
    <hr>
    {% if lieux is empty %}
        <br>
        <p>Il n'y actuellement aucuns lieux disponibles.</p>
    {% else %}

        <section>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for lieu in lieux %}
                    <tr>
                        <td><p>{{ lieu.nom }}</p></td>
                        <td><p>{{ lieu.ville.nom }}</p></td>
                        <td>
                            {# Bouton qui ouvre la modal #}
                            <button onclick="openModal('modal-lieu-{{ lieu.id }}')">
                                Détail
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        {# Inclusion de la modal #}
        {% for lieu in lieux %}
            {% include 'layout/fragments/modals/lieu-detail-modal.html.twig' with { lieu: lieu } %}
        {% endfor %}

    {% endif %}
{% endblock %}
