<div class="flex justify-center mb-4">
    <nav class="nav-admin-dashboard">
    {% set route = app.request.attributes.get('_route') %}

    <a href="{{ path('admin_dashboard') }}"
       class="sidebar-link {{ route == 'admin_dashboard' ? 'active' : '' }}">
            <span class="link-nav-admin">
                <i class="fa-solid fa-house"></i>
                <span class="link-nav-admin-text">Dashboard</span>
            </span>
    </a>

    <a href="{{ path('admin_participant') }}"
       class="sidebar-link {{ route starts with 'admin_participant' ? 'active' : '' }}">
            <span class="link-nav-admin">
                <i class="fa-solid fa-users"></i>
                <span class="link-nav-admin-text">Participants</span>
            </span>
    </a>

    <a href="{{ path('admin_sorties') }}"
       class="sidebar-link {{ route starts with 'admin_sorties' ? 'active' : '' }}">
            <span class="link-nav-admin">
                <i class="fa-solid fa-calendar"></i>
                <span class="link-nav-admin-text">Sorties</span>
            </span>
    </a>

    <a href="{{ path('admin_site') }}"
       class="sidebar-link {{ route starts with 'admin_site' ? 'active' : '' }}">
            <span class="link-nav-admin">
                <i class="fa-solid fa-landmark"></i>
                <span class="link-nav-admin-text">Site</span>
            </span>
    </a>

    <a href="{{ path('admin_ville') }}"
       class="sidebar-link {{ route starts with 'admin_ville' ? 'active' : '' }}">
            <span class="link-nav-admin">
                <i class="fa-solid fa-city"></i>
                <span class="link-nav-admin-text">Ville</span>
            </span>
    </a>

</nav>
</div>
