{% extends 'layout/admin_base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block main %}


        <h1 class="text-2xl font-bold mb-8 text-[#5C7D5C]">
            Dashboard
        </h1>
        {# GRID DES STATS #}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
        {# Participants #}
        <article class=" ">
            <div class="text-4xl font-black text-[#5C7D5C]">
                {{ nbUtilisateurs }}
            </div>
            <p class=" ">
                Utilisateurs inscrits
            </p>
        </article>

        {# Total événements #}
        <article class=" ">
            <div class="text-4xl font-black text-[#5C7D5C]">
                {{ nbSorties }}
             </div>
            <p class=" ">
                Sorties créés
            </p>
        </article>

        {# À venir #}
        <article class=" ">
            <div class="text-4xl font-black text-[#5C7D5C]">
                {{ sortiesAVenir }}
            </div>
            <p class=" ">
                Sorties à venir
            </p>
        </article>

        {# Passés #}
        <article class=" ">
            <div class="text-4xl font-black text-gray-700">
                {{ sortiesPassees }}
            </div>
            <p class=" ">
                Sorties passés
            </p>
        </article>

        {# Annulés #}
        <article class=" ">
            <div class="text-4xl font-black text-red-500">
                {{ sortiesAnnulees }}
            </div>
            <p class=" ">
                Sorties annulés
            </p>
        </article>
    </div>
    {# Dernières sorties #}
    <section class="mt-10">
        <h2>Dernières sorties</h2>
    </section>

    {# Derniers users #}
    <section class="mt-10">
        <h2>Derniers utilisateurs</h2>
    </section>
{% endblock %}
