{% extends 'layout/base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/openModal.js') }}" defer></script>
{% endblock %}
{% block main %}
    <h1 class="">
    Dashboard
</h1>
    {% include 'layout/fragments/admin/nav-bar.html.twig'%}

        {# GRID DES STATS #}
    <div class="grid grid-cols-2 lg:grid-cols-5 gap-2 md:gap-4">
        {# Participants #}
        <article class=" ">
            <div class="kpi-value">
                {{ nbUtilisateurs }}
            </div>
            <label class=" ">
                Utilisateurs
            </label>
        </article>

        {# Total événements #}
        <article class=" ">
            <div class="kpi-value">
                {{ nbSorties }}
             </div>
            <label class=" ">
                Sorties créés
            </label>
        </article>

        {# À venir #}
        <article class=" ">
            <div class="kpi-value">
                {{ sortiesAVenir }}
            </div>
            <label class=" ">
                Sorties à venir
            </label>
        </article>

        {# Passés #}
        <article class=" ">
            <div class="kpi-value">
                {{ sortiesPassees }}
            </div>
            <label class=" ">
                Sorties passés
            </label>
        </article>

        {# Annulés #}
        <article class=" ">
            <div class="kpi-value">
                {{ sortiesAnnulees }}
            </div>
            <label >
                Sorties annulés
            </label>
        </article>
    </div>
    <h2 class="mt-5">Dernières sorties</h2>
    <section class="admin-dashboard overflow-x-auto">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date début</th>
                <th>Lieu</th>
                <th>Organisateur</th>
                <th>Inscriptions</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for sortie in dernieresSorties %}
                <tr>
                    <td><p>{{ sortie.nom }}</p></td>

                    <td>
                        <p>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</p>
                    </td>

                    <td>
                        <p>{{ sortie.lieu ? sortie.lieu.nom : '' }}</p>
                    </td>

                    <td>
                        <p>{{ sortie.organisateur ? sortie.organisateur.pseudo : '' }}</p>
                    </td>

                    <td>
                        <p>
                            {{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}
                        </p>
                    </td>

                    <td>
                        <div onclick="openModal('modal-{{ sortie.id }}')" class="btn" href="#">
                            Voir
                        </div>
                    </td>
                </tr>
                {% include 'layout/fragments/modals/profil-event-modal.html.twig' with {
                    event: sortie
                } %}
            {% endfor %}
            </tbody>
        </table>
    </section>
    <h2 class="mt-5">Derniers utilisateurs</h2>
    <section class="admin-dashboard overflow-x-auto">
        <table class="min-w-full">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Pseudo</th>
                <th>Téléphone</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            {% for utilisateur in dernieresUtilisateurs %}
                <tr>
                    <td><p>{{ utilisateur.email }}</p></td>
                    <td><p>{{ utilisateur.nom }}</p></td>
                    <td><p>{{ utilisateur.prenom }}</p></td>
                    <td><p>{{ utilisateur.pseudo }}</p></td>
                    <td><p>{{ utilisateur.telephone }}</p></td>

                    <td>
                        <a class="btn" href="{{ path('admin_participant_edit', {id: utilisateur.id}) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
