{% extends 'layout/base.html.twig' %}

{% block title %}{{ sortie.nom }}{% endblock %}

{% block main %}
    <h1>
        {{ sortie.nom }}
    </h1>
    <p>Organisé par le <b>{{ sortie.siteOrganisateur.nom }}</b></p>
    {% if sortie.image %}
        <img
            src="{{ asset('uploads/' ~ sortie.image) }}"
            alt="{{ sortie.nom }}"
        >
    {% else %}
        <img
            src="{{ asset('img/default-image.png') }}"
            alt="image par défaut"
        >
    {% endif %}
    <section>
        <div>
            <label>Description</label>
            <p>{{ sortie.description }}</p>

            {% set dateFin = sortie.dateHeureDebut | date_modify('+' ~ sortie.duree.h ~ ' hours +' ~ sortie.duree.i ~ ' minutes') %}

            <label>Horaires</label>
            <p>
                le {{ sortie.dateHeureDebut | date('d/m/Y') }}
                de {{ sortie.dateHeureDebut | date('H') }}H{{ sortie.dateHeureDebut | date('i') }}
                à
                {% if sortie.dateHeureDebut | date('d/m/Y') != dateFin | date('d/m/Y') %}
                    le {{ dateFin | date('d/m/Y') }}
                {% endif %}
                {{ dateFin | date('H') }}H{{ dateFin | date('i') }}
            </p>

            <label>Lieu</label>
            <p>{{ sortie.lieu.nom }} - {{ sortie.lieu.rue }}
                - {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>

        </div>
        <div>
            <label>Date limite d'inscription</label>
            <p>{{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}</p>

            <label>Inscriptions</label>
            <table>
                <thead>
                <tr>
                    <th>Inscrit</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td><a class="btn" href="{{ path('participant_profil',  { id: participant.id }) }}">Voir le profil</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>




    {% if app.user %}
        {% if sortie.hasParticipant(app.user) %}
            <form method="post" action="{{ path('api_sortie_unregister', {'id': sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('unregister_sortie_' ~ sortie.id) }}">
                <button type="submit" class="btn">
                    Se désinscrire
                </button>
            </form>
        {% elseif sortie.areInscriptionsOpen and not sortie.complete %}
            <form method="post" action="{{ path('api_sortie_register', {'id': sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('register_sortie_' ~ sortie.id) }}">
                <button type="submit" class="btn">
                    S'inscrire
                </button>
            </form>
        {% elseif sortie.complete %}
            <p>Cette sortie est complète.</p>
        {% else %}
            <p>Les inscriptions ne sont pas ouvertes.</p>
        {% endif %}
        {% if app.user.administrateur %}
            <hr>
            <section>

                <a href="{{ path('sortie_edit', { id: sortie.id }) }}" class="btn">Modifier</a>

                <form method="post" action="{{ path('sortie_delete', {'id': sortie.id}) }}"
                      onsubmit="return confirm('Voulez-vous vraiment supprimer cette event_registration ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_sortie_' ~ sortie.id) }}">

                    <button type="submit" class="btn">
                        Supprimer
                    </button>
                </form>
            </section>
        {% endif %}
    {% else %}
        <p>Connectez-vous pour vous inscrire.</p>


    {% endif %}
{% endblock %}
