{% extends 'layout/base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sortieFilter.js') }}" defer></script>
    <script src="{{ asset('js/openModal.js') }}" defer></script>
{% endblock %}

{% block main %}
    <h1>Liste des sorties</h1>

    <div class="btn-group">
        <a class="btn" href="{{ path('sortie_create') }}">Proposer une sortie</a>

        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('sortie_reset') }}" onsubmit="return confirm('Attention : toutes les données vont être supprimées. Continuer ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('reset_data') }}">
                <button type="submit" class="btn">
                    Réinitialiser toutes les données
                </button>
            </form>
        {% endif %}
    </div>

    <form method="get" action="{{ path('sortie') }}" id="sortie-filter-form">
        <label for="site">Filtrer par site</label>
        <select name="site" id="site" data-filter-submit>
            <option value="">Tous les sites</option>
            {% for site in sites %}
                <option value="{{ site.id }}" {% if selectedSiteId == site.id %}selected{% endif %}>
                    {{ site.nom }}
                </option>
            {% endfor %}
        </select>
    </form>



    <hr>

    {% if sorties is empty %}
        <br>
        <p>Il n'y actuellement aucune sorties programmées.</p>
    {% else %}
        <section>
            <table>
                <thead>
                <tr>
                    <th>Img</th>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>
                            {% if sortie.image %}
                                <img src="{{ asset('uploads/' ~ sortie.image) }}" alt="Image-sortie">
                            {% else %}
                                <img src="{{ asset('img/default-image.png') }}" alt="Image par défaut">
                            {% endif %}
                        </td>
                        <td>{{ sortie.nom }}</td>
                        <td>
                            <a onclick="openModal('modal-{{ sortie.id }}')"
                               class="btn btn-primary">
                                Voir
                            </a>
                        </td>
                    </tr>
                    {% include 'layout/fragments/modals/profil-event-modal.html.twig' with {
                        event: sortie
                    } %}
                {% endfor %}

                </tbody>
            </table>
        </section>
    {% endif %}
{% endblock %}
