{% extends 'layout/base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block main %}
    <h1>Liste des sorties</h1>
    <a class="btn" href="{{ path('sortie_create') }}">Proposer une sortie</a>

    <form method="get" action="{{ path('sortie') }}">
        <label for="site">Filtrer par site</label>
        <select name="site" id="site">
            <option value="">Tous les sites</option>
            {% for site in sites %}
                <option value="{{ site.id }}" {% if selectedSiteId == site.id %}selected{% endif %}>
                    {{ site.nom }}
                </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn">Filtrer</button>

        {% if selectedSiteId %}
            <a href="{{ path('sortie') }}" class="btn">Réinitialiser</a>
        {% endif %}
    </form>

    <hr>

    {% if sorties is empty %}
        <br>
        <p>Il n'y actuellement aucune sorties programmées.</p>
    {% else %}
        <section>
            <table>
                <thead>
                <tr>
                    <th>Img</th>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>
                            {% if sortie.image %}
                                <img src="{{ asset('uploads/' ~ sortie.image) }}" alt="Image-sortie">
                            {% else %}
                                <img src="{{ asset('img/default-image.png') }}" alt="Image par défaut">
                            {% endif %}
                        </td>
                        <td>{{ sortie.nom }}</td>
                        <td>
                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}" class="btn btn-primary">
                                Voir
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    {% endif %}
{% endblock %}
