{% extends 'layout/base.html.twig' %}

{% block title %}{{ ville.nom }}{% endblock %}

{% block main %}
    <h1>Détail de la ville de {{ ville.nom }}</h1>
    <p>Nom de la ville : {{ ville.nom }}</p>
    <p>Code postal : {{ ville.codePostal }}</p>
    {# ACTIONS ADMIN #}
    {% if app.user and app.user.administrateur %}
        <hr>
        <section class="flex gap-3 justify-center">
            <a href="{{ path('ville_update', { id: ville.id }) }}" class="btn">Modifier</a>
            <form method="post" action="{{ path('ville_delete', { id: ville.id }) }}"
                  onsubmit="return confirm('Voulez-vous vraiment supprimer cette ville ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_ville_' ~ ville.id) }}">
                <button type="submit" class="btn">Supprimer</button>
            </form>
        </section>
    {% endif %}

{% endblock %}
