{% extends 'layout/base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/openModal.js') }}" defer></script>
{% endblock %}
{% block main %}
    <h1 class="">
        Gestion des utilisateurs
    </h1>
    {% include 'layout/fragments/admin/nav-bar.html.twig' %}
    <form method="get">
        <section>
            <div>
                <input type="text"
                       name="email"
                       placeholder="Email"
                       value="{{ app.request.get('email') }}">
            </div>
            <div>
                <input type="text"
                       name="nom"
                       placeholder="Nom"
                       value="{{ app.request.get('nom') }}">
            </div>

            <div>
                <input type="text"
                       name="prenom"
                       placeholder="Prénom"
                       value="{{ app.request.get('prenom') }}">
            </div>

            <div>
                <input type="text"
                       name="telephone"
                       placeholder="Téléphone"
                       value="{{ app.request.get('telephone') }}">
            </div>
            <select name="actif">

                <option value=""
                        {% if app.request.get('actif') is empty %}selected{% endif %}>
                    Tous les comptes
                </option>

                <option value="1"
                        {% if app.request.get('actif') == '1' %}selected{% endif %}>
                    Actifs
                </option>

                <option value="0"
                        {% if app.request.get('actif') == '0' %}selected{% endif %}>
                    Supprimés / Désactivés
                </option>

            </select>
        </section>
        <div class="w-full flex justify-start">
            <button type="submit">
                Filtrer les utilisateurs
            </button>
        </div>


    </form>
    <hr>
    <section class="admin-dashboard overflow-x-auto">
        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td><p>{{ participant.email }}</p></td>
                    <td><p>{{ participant.nom }}</p></td>
                    <td><p>{{ participant.prenom }}</p></td>
                    <td><p>{{ participant.telephone }}</p></td>
                    <td>
                        <a class="btn" href="{{ path('admin_participant_edit', {id: participant.id}) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{# ===================== PAGINATION ===================== #}
    {% set route = app.request.attributes.get('_route') %}
    {% set query = app.request.query.all %}

    {% set prevQuery = query|merge({'page': page - 1}) %}
    {% set nextQuery = query|merge({'page': page + 1}) %}
<div class="pagination">

    {# PRECEDENT #}
    {% if page > 1 %}
        <a class="pagination-link"
           href="{{ path(route, prevQuery) }}">
            ← Précédent
        </a>
    {% else %}
        <span class="pagination-link disabled">
            ← Précédent
        </span>
    {% endif %}

    <span class="pagination-current">
        Page {{ page }}
    </span>

    {# SUIVANT #}
    {% if hasMore %}
        <a class="pagination-link"
           href="{{ path(route, nextQuery) }}">
            Suivant →
        </a>
    {% else %}
        <span class="pagination-link disabled">
            Suivant →
        </span>
    {% endif %}
</div>
{% endblock %}
